body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header {
    padding: 10px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation {
    padding: 10px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation a {
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}